// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// style dell'header
@import 'partials/header';

// styile del footer
@import 'partials/footer';


#suggestions-list {
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
    // border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 200px; // Limita l'altezza massima
    overflow-y: auto; // Aggiunge lo scroll se i suggerimenti sono troppi
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #suggestions-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1; // Divisore tra gli elementi
    transition: background-color 0.3s ease-in-out;
  }

  #suggestions-list li:last-child {
    border-bottom: none; // Rimuove la linea sotto l'ultimo elemento
  }

  #suggestions-list li:hover {
    background-color: #f0f8ff; // Cambia colore quando si passa il mouse
  }

  #suggestions-list li.active {
    background-color: #007bff; // Colore per l'elemento attivo
    color: white;
  }


  .navbar {
    background-color: #002b4d !important; /* Cambia il colore di sfondo della navbar */
    color: white;
}


/* Cambia il colore del testo nella navbar */
.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important; /* Cambia il colore dei link della navbar a bianco */
}

.navbar-light .navbar-brand {
    color: #ffffff !important; /* Cambia il colore del brand/logo a bianco */
}

.navbar-light .navbar-toggler-icon {
    filter: invert(1); /* Cambia l'icona del toggler a bianco */
}

.navbar-light .dropdown-menu {
    background-color: #ffffff; /* Cambia lo sfondo del dropdown a bianco */
    color: #000000; /* Colore del testo nei dropdown a nero */
}

.dropdown-item {
    color: #000000 !important; /* Imposta il colore degli elementi del dropdown a nero per visibilità */
}

